<div class="container">
    <form class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search git user name" 
            [(ngModel)]="username" name="username" (keyup)="findUser()">
        </div>
    </form>
    <div *ngIf="user">
    <div class="panel-heading">
    {{user.name}} <small>({{user.login}})</small>
    </div>
    <div class="panel body">
    <div class="row">
    <div class="col-sm-3">
    <img src="{{user.avatar_url}}" class="img-circle img-responsive" alt="user Image">
    </div>
    <div class="col-sm-5">
        <ul class="list-group">
                <li class="list-group-item" *ngIf="user.bio">{{user.bio}}</li>
            
            
        </ul>
    </div>
        <div class="col-sm-4">
            <div>
                <p>
                    <span class="badge badge-primary">
                        {{user.followers}} Followers</span><br>
                    <span class="badge badge-primary">
                        Following{{user.followers}} </span><br>
                    <span class="badge badge-primary">
                        {{user.public_gists}} Public gists</span><br>
                    <span >
                        {{user.public_repos}}  public repos</span>
                </p>
                <p><a href="{{user.html_url}}" target="_blank" >View user on github</a></p>
              
        </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="row">
                               
<!-- <div class="col-md-5 mt-5 text-center"> -->
                <h3 class="card-tittle">Repositories</h3>
            
            <div class="card" *ngFor='let repo of repos'>
                <div class="card-body">
            <p>
                {{repo.name}} <a href='{{repo.html_url}}' >Check this project on github</a>
            </p>
            <p>{{repo.description}}</p>
        </div>
        </div>
    
    </div>
    </div>
    </div>
    </div>
